In [1]:
#Import library numpy, pandas, dan skicit-learn
import numpy as np
import pandas as pd
from sklearn import tree

In [2]:
#Membaca Dataset dari File ke Pandas dataFrame
irisDataset = pd.read_csv('Dataset Iris.csv', header=0)

In [3]:
irisDataset.head()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,7.00,3.02,4.07,1.04,Iris-versicolor
1,2,6.04,3.02,4.05,1.05,Iris-versicolor
2,3,6.09,3.01,4.09,1.05,Iris-virginica
3,4,5.05,2.03,4.00,1.03,Iris-virginica
4,5,6.05,2.08,4.06,1.05,Iris-versicolor

In [4]:
#Mengubah kela (kolom "Species") dari String ke Unique-Integer
irisDataset["Species"] = pd.factorize(irisDataset.Species)[0]

In [5]:
irisDataset.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1           7.00          3.02           4.07          1.04        0
1   2           6.04          3.02           4.05          1.05        0
2   3           6.09          3.01           4.09          1.05        1
3   4           5.05          2.03           4.00          1.03        1
4   5           6.05          2.08           4.06          1.05        0

In [6]:
print(irisDataset)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1           7.00          3.02           4.07          1.04        0
1   2           6.04          3.02           4.05          1.05        0
2   3           6.09          3.01           4.09          1.05        1
3   4           5.05          2.03           4.00          1.03        1
4   5           6.05          2.08           4.06          1.05        0
5   6           5.07          2.08           4.05          1.03        0
6   7           6.03          3.03           4.07          1.06        1
7   8           4.09          2.04           3.03          1.00        1
8   9           6.06          2.09           4.06          1.03        0
9  10           5.02          2.07           3.09          1.04        1

In [7]:
#Menghapus kolom "Id"
irisDataset = irisDataset.drop(labels="Id", axis=1)

In [8]:
print(irisDataset)

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0           7.00          3.02           4.07          1.04        0
1           6.04          3.02           4.05          1.05        0
2           6.09          3.01           4.09          1.05        1
3           5.05          2.03           4.00          1.03        1
4           6.05          2.08           4.06          1.05        0
5           5.07          2.08           4.05          1.03        0
6           6.03          3.03           4.07          1.06        1
7           4.09          2.04           3.03          1.00        1
8           6.06          2.09           4.06          1.03        0
9           5.02          2.07           3.09          1.04        1

In [9]:
#Mengubah dataFrame ke array Numpy
irisDataset = irisDataset.to_numpy()

In [10]:
print(irisDataset)

[[7.   3.02 4.07 1.04 0.  ]
 [6.04 3.02 4.05 1.05 0.  ]
 [6.09 3.01 4.09 1.05 1.  ]
 [5.05 2.03 4.   1.03 1.  ]
 [6.05 2.08 4.06 1.05 0.  ]
 [5.07 2.08 4.05 1.03 0.  ]
 [6.03 3.03 4.07 1.06 1.  ]
 [4.09 2.04 3.03 1.   1.  ]
 [6.06 2.09 4.06 1.03 0.  ]
 [5.02 2.07 3.09 1.04 1.  ]]

In [11]:
#Membagi Dataset => 8 baris data untuk training dan 2 baris data untuk testing
dataTraining = np.concatenate((irisDataset[0:4, :], irisDataset[5:9, :]),
                              axis=0)
dataTesting = np.concatenate((irisDataset[4:5, :], irisDataset[9:10, :]),
                             axis=0)

In [12]:
print(dataTraining)
len(dataTraining)

[[7.   3.02 4.07 1.04 0.  ]
 [6.04 3.02 4.05 1.05 0.  ]
 [6.09 3.01 4.09 1.05 1.  ]
 [5.05 2.03 4.   1.03 1.  ]
 [5.07 2.08 4.05 1.03 0.  ]
 [6.03 3.03 4.07 1.06 1.  ]
 [4.09 2.04 3.03 1.   1.  ]
 [6.06 2.09 4.06 1.03 0.  ]]

8

In [13]:
print(dataTesting)
len(dataTesting)

[[6.05 2.08 4.06 1.05 0.  ]
 [5.02 2.07 3.09 1.04 1.  ]]

2

In [16]:
#Memecah Dataset ke Input dan Label
inputTraining = dataTraining[:, 0:4]
inputTesting = dataTesting[:, 0:4]
labelTraining = dataTraining[:, 4]
labelTesting = dataTesting[:, 4]
print(labelTraining)
len(labelTraining)

[0. 0. 1. 1. 0. 1. 1. 0.]

8

In [14]:
#Mendefisinisikan Decision Tree Classifier
model = tree.DecisionTreeClassifier()

In [17]:
#Mentraining Model
model = model.fit(inputTraining, labelTraining)

In [18]:
#Memprediksi Input Data Testing
hasilPrediksi = model.predict(inputTesting)
print("Label Sebenarnya : ", labelTesting)
print("Hasil Prediksi : ", hasilPrediksi)

Label Sebenarnya :  [0. 1.]
Hasil Prediksi :  [0. 0.]

In [19]:
#Menghitung Akurasi
prediksiBenar = (hasilPrediksi == labelTesting).sum()
prediksiSalah = (hasilPrediksi != labelTesting).sum()
print("Prediksi Benar :", prediksiBenar, "data")
print("Prediksi Salah :", prediksiSalah, "data")
print("Akurasi :", prediksiBenar/(prediksiBenar+prediksiSalah) * 100, "%")

Prediksi Benar : 1 data
Prediksi Salah : 1 data
Akurasi : 50.0 %